/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #16048c /*hsl(205, 86%, 17%)*/;
  --clr-primary-2: #104e7a;
  --clr-primary-3: #1a6aa2;
  --clr-primary-4: #2d87c8;
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: #6ebef7;
  --clr-primary-7: #8bcbf9;
  --clr-primary-8: #a5d5f8;
  --clr-primary-9: #c5e5fc;
  --clr-primary-10: #ebf7ff;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-orange: #f2784b;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-secondary: #b3c8f2;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px #0000001a;
  --dark-shadow: 0 5px 15px #00000033;
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  /*background: var(--clr-grey-10);*/
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/

/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}

/* fixed navbar */

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.fixed-nav .nav-links a {
  color: var(--clr-grey-1);
}
.fixed-nav .nav-links a:hover {
  color: var(--clr-secondary);
}

/* .fixed-nav .links-container {
  height: auto !important;
} */

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 75px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.nav-links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.nav-links a:hover {
  color: var(--clr-grey-1);
}
/* media query - wider screen (mobile first approach) */
@media screen and (min-width: 768px) {
  nav {
    background: transparent;
  }
  .nav-container {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .nav-links {
    display: flex;
  }
  .nav-links a {
    background: transparent;
    color: var(--clr-grey-1);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .nav-links a:hover {
    color: var(--clr-grey-6);
  }
}

/* banner */

header#home {
  min-height: 100vh;
  background: url(./Cover-JS.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: end;
  text-align: center;
}

.banner .container {
  width: 100%;
  background: var(--clr-primary-1);
}

.banner .container p {
  margin: 0.75rem;
  color: var(--clr-white);
}

/* sections */
.title h2 {
  text-transform: uppercase;
  color: #f2784b;
}

#about,
#portfolio,
#contact {
  padding: 1rem 0;
}

.btn-container {
  margin-bottom: 4rem;
  /*display: flex;*/
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: var(--clr-gold);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.portfolio-item {
  /*  width: 90vw;
  margin: 0 auto;*/
  width: auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.portfolio-grid {
  display: grid;
  gap: 1rem 2rem;
  padding: 0 3rem;
  /*max-width: 25rem;*/
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-secondary);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

/*open/close modal*/
.open-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-black);
  border-radius: var(--radius);
  width: 90vw;
  height: 60vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

/* .item-text.full {

} */

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .portfolio-grid {
    /*grid-template-columns: 225px 1fr;*/
    /*gap: 0 1.25rem;*/
    /*max-width: 40rem;*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1rem;
    /*max-width: 50rem;*/
    margin: 0 auto;
    padding: 0 3rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    /*width: 95vw;*/
    grid-template-columns: 1fr 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

/* footer */
footer {
  padding: 3.5rem 1rem;
  background: var(--clr-primary-1);
}

footer p {
  text-align: center;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-white);
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
