@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #13817d15;
}

/* Header */
header h1 {
  margin: 1rem 4rem 1rem;
  font-size: 32px;
}
.nav {
  background: #0d5957;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  background: #d9d9d9;
  border-radius: 2px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link,
.nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #13807c;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: rgba(0, 0, 0, 0);
}
/* button an d hover colour */
.btn {
  color: #d9d9d9;
  border: 2px solid #d9d9d9;
}

.btn:hover {
  background-color: #d9d9d9;
  color: #0d5957;
}

a#navbarDropdown {
  color: #fff;
}

a#navbarDropdown:hover {
  color: #0d5957;
}

/* Body */

.slider {
  padding-top: 2%;
}

.carousel-item {
  height: 500px;
}

section {
  margin: 2rem 4rem;
}
section h2 {
  padding-bottom: 1rem;
}

section-1 > .container {
  display: flex;
}

#symptoms,
#vaccinations,
#after-covid19 {
  padding: 1rem 0;
}

.card {
  display: inline-flex;
}

.card.text-dark.bg-light.mb-3 {
  color: #fff !important;
}

i.fas.fa-search,
i.fas.fa-vial,
i.fas.fa-house-user {
  margin: auto 5%;
  padding: 3% 0;
  font-size: x-large;
}

a.card-link {
  color: #13807c;
}

/* Footer */
.bg-light {
  background-color: #0d5957 !important;
}

.footer p {
  color: #fff;
}

/* media query for larger screen size since this is a mobile first approach */
@media screen and (min-width: 768px) {
}
